.button {
    margin: 3px auto 0;
    width: 70%;
    padding: 0.75rem;
    font-size: 1rem;
    color: white;
    background-color: rgba(37, 118, 120, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(25, 108, 110, 1);
}

.new-post-button {
    border: none;
    margin-bottom: 1rem;
    width: 750px;
    padding: 0.7rem;
}

@media (max-width: 768px) {
    .new-post-button {
        width: 90%;
    }
}