.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 72, 56, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal h2 {
    color: black;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(249, 249, 249, 0.89);
    padding: 30px;
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.modal-content input,
.modal-content .react-select__control {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: #214237;
    align-content: center;
    width: 300px;
    margin: 5px;
    padding: 0;
    background-color: #bbbbbb;
    border: 3px solid #d2d2d2;
    border-radius: 1rem;
    box-shadow: none;
    transition: border-color 0.2s ease;
}

.modal-content input {
    height: 45px;
}

.modal-content input:hover,
.modal-content .react-select__control:hover {
    border-color: #2d9479;
}

.modal-content .react-select__control {
    display: flex;
    align-items: center;
}

.modal-content .react-select__menu {
    width: 300px;
    background-color: #b4b4b4;
    border-radius: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-content input::placeholder {
    color: #214237;
    text-align: center;
    padding-right: 2rem;
    font-size: 15px;
}

.modal-content .react-select__placeholder {
    color: #214237;
}

.modal-content .react-select__option {
    color: #214237;
}

.modal-content .react-select__option--is-focused {
    background-color: #cccccc;
}

.modal-content .react-select__option--is-selected {
    background-color: #eceded;
    color: #214237;
}

.modal-content .react-select__multi-value {
    background-color: #eceded;
    border-radius: 5px;
    padding: 3px;
}

.modal-content .react-select__multi-value__remove {
    color: #999999;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.modal-content .react-select__multi-value__remove:hover {
    background-color: #e88e52;
    opacity: 70%;
    color: #fff;
}