.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: black;
}

.empty-state p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.empty-state-button {
    padding: 10px 20px;
    background-color: #ffaf4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.empty-state-button:hover {
    background-color: #dc942c;
}
