.filter-panel {
    position: sticky;
    top: 65px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 750px;
    color: black;
    background-color: rgba(249, 249, 249, 0.89);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-group {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.filter-group label {
    color: #000000;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#sort-select,
#rating-select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: #fff;
    font-size: 1rem;
}

.subjects-buttons {
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
}

.subjects-buttons button {
    padding: 0.5rem 0.7rem;
    font-size: 0.8rem;
    background-color: #c5c5c5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.subjects-buttons button.selected {
    background-color: #ea9e69;
    color: white;
}

.subjects-buttons button:hover {
    background-color: #c27735;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
}

.subjects-buttons button:active {
    transform: scale(0.98);
}

.filter-panel .apply-filters-button {
    padding: 0.5rem 1rem;
    width: 100%;
}