.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    margin-top: 3rem;
    width: 40px;
    height: 40px;
    border: 4px solid rgb(255, 255, 255);
    border-top-color: #d1d1d1;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
