.post-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 750px;
    height: 120px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
    margin-bottom: 10px;
}

.post-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-photo-post {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.post-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card h3 {
    margin: 0;
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
}

.post-card p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

.skills {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    color: #ce783a;
    font-weight: bold;
}

.skills span {
    margin-right: 500px;
}