/* Общий стиль страницы */
.cabinet {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #efffde;
    font-family: Lexend, sans-serif;
}

/* Основной контейнер профиля */
.cabinet-content {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

/* Фото профиля */
.profile-image-container {
    position: relative;
    margin-bottom: 20px;
}

.user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2d9479;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Кнопка загрузки фото */
.photo-upload-label {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 0.9rem;
    color: white;
    background-color: #2d9479;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.photo-upload-label:hover {
    background-color: #257b65;
}

input[type="file"] {
    display: none;
}

/* Заголовок пользователя */
.cabinet-content h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #333;
}

/* Текст информации "Обо мне" */
.profile-info p {
    width: 100%;
    font-size: 1.1rem;
    color: #555;
    align-items: center;
}

.contact-info {
    font-size: 2rem;
    color: #2d9479;
    font-weight: bold;
    text-decoration: none;
}

.contact-info:hover {
    text-decoration: underline;
}

.description-textarea {
    width: 96.5%;
    height: 120px;
    margin: 0 auto;
    padding: 12px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    resize: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.description-textarea:focus {
    border-color: #2d9479;
    box-shadow: 0 0 8px rgba(45, 148, 121, 0.3);
}

/* Кнопки редактирования */
.edit-button {
    margin-top: 1rem;
}

.edit-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 1rem;
}

.edit-button, .save-button {
    background-color: #2d9479;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.cancel-button {
    background-color: rgba(208, 79, 0, 1);
}

.cancel-button:hover {
    background-color: rgba(182, 69, 0, 1);
}

.save-button:hover, .edit-button:hover {
    background-color: #257b65;
}

/* Кнопка закрытия */
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #555;
}

/* Обертка для блока "Обо мне" */
.profile-info {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

/* Заголовок "Обо мне" */
.profile-info h3 {
    font-size: 1.7rem;
    color: #2d9479;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

/* Текст описания */
.profile-info p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #555;
    text-align: left;
    margin: 0;
}