.helpers-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-color: #fcfaf4;
    background-image:  radial-gradient(#abcebe 0.75px, transparent 0.75px), radial-gradient(#abcebe 0.75px, #fcfaf4 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
    margin-top: 50px;
    gap: 1rem;
}

.helpers-page h1 {
    color: black;
    padding-top: 2rem;
}
