.user-profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(232, 237, 242, 1);
}

@media (max-width: 768px) {
    .user-profile-page {
        flex-direction: column;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .user-profile-page {
        padding: 10px;
    }
}