:root {
    --s: 94px; /* control the size*/
    --c1: #ffffff;
    --c2: #a31e39;
    --c3: #31570e;

    --_c:#0000,var(--c1) 1deg 79deg,#0000 81deg;
}

.main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.welcome-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    /*background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231da94c' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
    color: black;
}

.welcome-page h1 {
    padding-left: 4rem;
    font-size: 3rem;
}

.welcome-page p {
    padding-left: 4rem;
    max-width: 450px;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.welcome-page button {
    padding: 0.75rem;
    font-size: 1.5rem;
    color: white;
    background-color: #f3a83c;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 390px;
    box-sizing: border-box;
    text-align: center;
}

.welcome-page button:hover {
    background-color: #e7942a;
}

.image-container {
    flex: 1;
    --g0:conic-gradient(from 140deg at 50% 87.5% ,var(--_c));
    --g1:conic-gradient(from 140deg at 50% 81.25%,var(--_c));
    --g2:conic-gradient(from 140deg at 50% 75%   ,var(--_c));
    --g3:conic-gradient(at 10% 20%,#0000 75%,var(--c1) 0);
    background:
            var(--g0) 0 calc(var(--s)/-4),var(--g0) var(--s) calc(3*var(--s)/4),
            var(--g1) ,var(--g1) var(--s) var(--s),
            var(--g2) 0 calc(var(--s)/ 4),var(--g2) var(--s) calc(5*var(--s)/4),
            var(--g3) calc( var(--s)/-10) var(--s),
            var(--g3) calc(9*var(--s)/10) calc(2*var(--s)),
            repeating-conic-gradient(from 45deg,var(--c2) 0 25%,var(--c3) 0 50%);
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.welcome-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}